<html>
<head>
  <title>{{name}}</title>
</head>
<body>
  <h1>{{dc:title}}</h1>
  {{#tableSchema}}
    <h2>{{aboutUrl}}</h2>
    <h2>{{primaryKey}}</h2>
    <h2>Columns</h2>
    {{#columns}}
    <h3>{{name}}</h3>
    Title(s):
    <ul>
    {{#titles}}
      <li>{{.}}</li>
    {{/titles}}
    </ul>
    Datatype: {{datatype}}{{^datatype}}string{{/datatype}}
    <h4>Description</h4>
    <p>{{dc:description}}</p>
    {{/columns}}
  {{/tableSchema}}
</body>
</html>
