<html>
<head>
  <title>{{name}}</title>
</head>
<body>
  <h1>{{name}}</h1>
  {{#tableSchema}}
    <h2>{{aboutUrl}}</h2>
    <h2>{{primaryKey}}</h2>
    <h2>Columns</h2>
    {{#columns}}
    <h3>{{name}}</h3>
    {{/columns}}
  {{/tableSchema}}
</body>
</html>
