<html>
<head>
  <title>Code book for {{dc:title}}</title>
</head>
<body>
  <h1>Code book for {{dc:title}}</h1>
  {{#tableSchema}}
    <h2>{{aboutUrl}}</h2>
    <h2>{{primaryKey}}</h2>
    <h2>Columns</h2>
    {{#columns}}
    <h3>{{name}}</h3>
    <dl>
      <dt>Title(s)</dt>
    {{#titles}}
      <dd>{{.}}</dd>
    {{/titles}}
      <dt>Datatype</dt>
      <dd>{{datatype}}{{^datatype}}string{{/datatype}}</dd>
      <dt>Description</dt>
      <dd>{{dc:description}}</dd>
    </dl>
    {{/columns}}
  {{/tableSchema}}
</body>
</html>
